.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}
.progress-card{
    display: flex;
    width: 100%;
}
.progress-card p{
    /* color: #B35D00; */
    font-weight: bold;
    margin-left: 10px;
}
h2 {
    font-weight: bold;
    font-size: 1.5rem;
	margin-bottom: 10px;
    /* color: #B35D00; */
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    position: relative;
}

.progress-bar-fill {
    height: 100%;
    background-color: #007bff; /* Blue color for progress */
    width: 0%; /* Start with 0% progress */
    transition: width 0.3s ease-in-out; /* Smooth transition */
}
.task-item p{
     display: flex;
     border: 1px solid #0056b3;
    color: #0056b3;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 30%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.task-img{
	height: 40px;
	object-fit: contain;
	border-radius: 8px;
}
.task-img img{
	height: 40px;
	object-fit: contain;
	border-radius: 8px;
}

.tick-button{
    padding: 00;
    border: none;
    background-color: transparent;
}

.task-name {
    /* background-color: #007bff; */
	 background-color: #0056b3;
     border: 1px solid #0056b3;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.task-name:hover {
    background-color: #8BB7F0; /* Darker blue for hover effect */
     border: 1px solid #8BB7F0;
}

input[type="file"] {
  display: none;
}

.task-item {
    margin-top: 10px;
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.file-selector-label {
    font-weight: bold;
}

.file-selector-status {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0056b3;
    border-radius: 4px;
    color: #0056b3;
    font-size: 10px;
}

.file-selector {
    margin-top: -16px;
}